---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

$orange: #FFAE00;
$orange2: #E26011;


// Our variables
$base-font-family: Roboto, Helvetica, Arial, sans-serif;
$base-font-size:   26px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #fff;
$brand-color:      $orange;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

html,body {
  height: 100%;
}

.main-block {
  height: 100%;
  background: url(bg4.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  /* Tap to share locatio: */
  font-size: 52px;
  color: #FFFFFF;
  line-height: 61px;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.grid, .unit {
  height: 100%;
}

.main-message {
  text-align: right;
  position: relative;
  top: 30%;
}

.phone {
  position: relative;
  top: 15%;
  width: auto;}

a.btn {
  /* Rectangle 14: */
  border: 4px solid #EB503F;
  border-radius: 5px;
  /* Get it in the AppSto: */
  font-size: 23px;
  color: white;
  line-height: 27px;
  width: 220px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.41);
  padding: 15px 20px;
  float: right;
  text-decoration: none;
  transition: background 0.2s;
  font-weight: 500;

  &:hover {
    background: #EB503F;
    background-position: top;
  }
}

.block {
  text-align: center;
  background-color: white;
  color: #FF7D60;
}

.question {
  margin-top: 100pt;

  h2 {
    /* We made this just fo: */
    font-size: 50px;
    color: #FF7D60;
  }
  p {
    /* We wanted a quick al: */
    font-size: 25px;
    color: #6B6B6B;
    text-align: justify;
    a:hover {
      color: #333;
    }
  }
}

.center {
  text-align: center !important;
}

@media screen and (max-width: 568px) {
  .grid, .unit {
    height: auto;
    text-align: center;
  }
  .main-message {
    text-align: center;
    position: inherit;
    top: 0%;
    h1 {
      font-size: 2rem;
      margin-bottom: 20pt;
    }
  }
  a.btn {
    float: none;
  }
  img {
    margin-top: 20pt;
  }
}
